@import "variables.scss";
@import "breakpoints.scss";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

$tablet: 768px;
$mobile: 600px;

*,
h1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: width 0.1s ease-in-out;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
}

body,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
h1 {
  font-size: 80px;
  font-family: "Bellefair";
  font-weight: normal;
  color: $white;
  margin: 0;

  @include md {
    font-size: 150px;
  }
}

h2 {
  font-size: 56px;
  font-family: "Bellefair";
  font-weight: normal;
  color: $white;
  @include sm {
    font-size: 80px;
  }
  @include lg {
    font-size: 150px;
  }
}

h3 {
  font-family: "Bellefair";
  font-weight: normal;
  font-size: 56px;
}

h4 {
  font-family: "Bellefair";
  font-weight: normal;
  font-size: 32px;
}

h5 {
  font-family: "Barlow Condensed";
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 4.75;
  color: $blue;
  margin: 0;

  @include md {
    font-size: 20px;
  }
  @include lg {
    font-size: 28px;
  }
}

.subheading1 {
  font-family: "Bellefair";
  font-size: 28px;
  color: $white;
}

.subheading2 {
  font-family: "Barlow Condensed";
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 2.35px;
  color: $blue;
}

.nav-text {
  font-family: "Barlow Condensed";
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 2.7;
}

.body {
  font-family: "Barlow";
  font-size: 15px;
  color: $white;
  line-height: 25px;

  @include md {
    font-size: 16px;
    line-height: 28px;
  }
  @include lg {
    font-size: 18px;
    line-height: 32px;
  }
}

.landing-page-btn {
  $size: 150px;
  background-color: #ffffff;
  font-family: "Bellefair";
  border-radius: 50%;
  border: none;
  height: $size;
  width: $size;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  // overflow: hidden;

  z-index: 2;

  text-shadow: 5px 5px 10px #0c0c0c;
  box-shadow: 0 0 5px $white;
  filter: drop-shadow(0 0 2px $white) drop-shadow(0 0 5px $white)
    drop-shadow(0 0 10px $white) drop-shadow(0 0 20px $white);

  @include md {
    $size: 242px;
    height: $size;
    width: $size;

    font-size: 32px;
  }
  @include lg {
    $size: 274px;
    height: $size;
    width: $size;
  }

  .front-planet-wrapper {
    height: 100%;
    width: 100%;
    // opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    transform-style: preserve-3d;

    .front-planet {
      position: absolute;
      background-color: $black;
      border-radius: 50%;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform-style: preserve-3d;
      box-shadow: 0 0 5px $black;
      filter: drop-shadow(0 0 2px $black) drop-shadow(0 0 5px $black)
        drop-shadow(0 0 10px $black);
    }
  }

  &::after {
    $deviant: 48px;

    content: "";
    opacity: 0.4;
    position: absolute;
    z-index: -1;
    height: calc(100% + 2 * $deviant);
    width: calc(100% + 2 * $deviant);
    background-color: rgba($color: #ffffff, $alpha: 0.14);
    border-radius: 50%;
    left: -$deviant;
    top: -$deviant;
    transform: scale(0.5);
    transition: all 0.4s ease-in-out;
    backdrop-filter: blur(14px);

    @include md {
      $deviant: 72px;
    }
    @include lg {
      $deviant: 88px;
    }
  }

  &:hover {
    // box-shadow: 0 0 5px $white;
    // filter: drop-shadow(0 0 2px $white) drop-shadow(0 0 5px $white)
    //   drop-shadow(0 0 10px $white) drop-shadow(0 0 20px $white);
    &::after {
      transform: scale(1);
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  // width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.layout {
  background-color: #0b0d17;
  min-height: 100vh;
  width: 100vw;
  .main {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    .page {
      min-height: 100vh;
      height: 100%;
      width: 100%;

      padding-bottom: 90px;
      padding-top: 88px;
      padding-right: 24px;
      padding-left: 24px;

      @include md {
        padding-top: 96px;
        padding-right: 48px;
        padding-left: 48px;
      }
      @include lg {
        padding-top: 136px;
      }
    }
  }
}

.loading-page {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10000;
  background-color: $black;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  @include sm {
    gap: 36px;
  }
  @include lg {
    justify-content: start;
  }

  .tab {
    cursor: pointer;
    font-family: "Barlow Condensed";
    font-size: 1rem;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: $blue;
    border-bottom: 3px solid transparent;
    transition: border 0.3 ease-in;
    padding-bottom: 12px;

    &:hover {
      border-bottom: 3px solid $gray;
    }
    &--active {
      color: $white;
      border-bottom: 3px solid $white;
    }
  }
}

.divider {
  height: 1px;
  background-color: #383b4b;
}
